.env
script.md
notes.md
foundry*/
remix*/
html*/
.previously_installed_extensions.txt

nfts-foundry-course/
foundry-*/
remix*/
html*/
background*
.DS_Store
img/
brownie-contracts-nfts/
tweet.md
nfts-zksync-foundry/ 
nfts-zksync-hardhat/